h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(0, 128, 0, 0.705);
    background: rgb(209, 199, 139);
    text-align: left;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(80, 65, 45);
    background: bisque;
    text-align: left;
}

.navigation {
    color: royalblue;
    font-family: sans-serif;
}

p.email {
    color: darkslategray
}

.lead {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded;
    background: bisque;
}

